.lsp/
.clj-kondo/.cache/
.clj-kondo/imports/
.calva/
.vscode/
.cpcache/
.nrepl*
.rebel*
.jj/
.env
.envrc

# Build artifacts
target/
classes/

# generated CLR tests
test-clr/

# JS build artifacts
.shadow-cljs/
node_modules/
**/resources/public/js/
