.lsp/
.clj-kondo/.cache/
.clj-kondo/imports/
.calva/
.claude/settings.local.json
.claude/.clojure-ready
.cpcache/
.nrepl*
.rebel*
.jj/

# JS build artifacts
.shadow-cljs/
node_modules/
package-lock.json
**/resources/public/js/
