.lsp/
.clj-kondo/.cache/
.clj-kondo/imports/
.calva/
.vscode/
**/.claude/settings.local.json
.claude/.clojure-ready
.cpcache/
.nrepl*
.rebel*
.jj/
.env
.envrc

# Build artifacts
target/
classes/

# JS build artifacts
.shadow-cljs/
node_modules/
package-lock.json
**/resources/public/js/
