{:paths ["src" "resources"],
 :deps {},
 :aliases
 {:test
  {:extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                io.github.robertluo/rich-comment-tests {:git/tag "v1.1.1", :git/sha "3f65ecb"}}
   :exec-fn kaocha.runner/exec-fn
   :exec-args {}}}}
