{:hooks
 {:analyze-call
  {sg.flybot.pullable.util/cond-let hooks.cond-let/cond-let
   sg.flybot.pullable.util/vars-> hooks.vars-arrow/vars->
   sg.flybot.pullable.impl/match-fn hooks.match-fn/match-fn
   sg.flybot.pullable/match-fn hooks.match-fn/match-fn
   sg.flybot.pullable.impl/rule hooks.rule/rule
   sg.flybot.pullable/rule hooks.rule/rule}}
 :lint-as
 {sg.flybot.pullable.impl/defmatcher clojure.core/comment}}