{:hooks
 {:analyze-call
  {sg.flybot.pullable.util/cond-let hooks.cond-let/cond-let
   sg.flybot.pullable.util/vars-> hooks.vars-arrow/vars->
   sg.flybot.pullable.core/qfn hooks.qfn/qfn
   sg.flybot.pullable/qfn hooks.qfn/qfn}}
 :lint-as
 {sg.flybot.pullable.core/defmatcher clojure.core/comment}}