{:deps true
 :deps-aliases [:cljs]
 :dev-http {3000 {:root "resources/public"
                  :proxy-url "http://localhost:8080"}}
 :nrepl {:port 0}  ; Use any available port when started via shadow-cljs
 :builds
 {:app {:target :browser
        :output-dir "resources/public/js"
        :asset-path "/js"
        :modules {:main {:entries [sg.flybot.flybot-site.ui.core]}}
        :devtools {:after-load sg.flybot.flybot-site.ui.core/render!}}}}
