{:deps true
 :deps-aliases [:cljs]
 :dev-http {3002 {:root "resources/public"
                  :proxy-url "http://localhost:8081"}}
 :nrepl {:port 0}
 :builds
 {:app {:target :browser
        :output-dir "resources/public/js"
        :asset-path "/js"
        :modules {:main {:entries [sg.flybot.playground.core]}}
        :devtools {:after-load sg.flybot.playground.core/render!}}}}
