{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}
        metosin/malli {:mvn/version "0.20.0"}}
 :aliases
 {:dev {:extra-paths ["notebook"]
        :extra-deps {io.github.robertluo/rich-comment-tests {:mvn/version "1.1.78"}
                     nrepl/nrepl {:mvn/version "1.5.2"}
                     cider/cider-nrepl {:mvn/version "0.58.0"}}}
  :rct {:exec-fn com.mjdowney.rich-comment-tests.test-runner/run-tests-in-file-tree!
        :exec-args {:dirs #{"src"}}}
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.10.12"}
                 slipset/deps-deploy {:mvn/version "0.2.2"}}
          :ns-default build}}}
