{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0"}
        local/pattern {:local/root "../pattern"}
        local/collection {:local/root "../collection"}
        com.cognitect/transit-clj {:mvn/version "1.0.333"}
        ring/ring-core {:mvn/version "1.12.1"}}
 :aliases
 {:dev {:extra-paths ["notebook" "dev" "test"]
        :extra-deps {lambdaisland/kaocha {:mvn/version "1.91.1392"}
                     io.github.robertluo/rich-comment-tests {:mvn/version "1.1.78"}
                     ring/ring-mock {:mvn/version "0.4.0"}
                     io.github.robertluo/fun-map {:mvn/version "0.5.124"}
                     metosin/malli {:mvn/version "0.16.4"}}}
  ;; Run Kaocha (picks up clojure.test and RCT wrapper)
  :test {:extra-paths ["test"]
         :exec-fn kaocha.runner/exec-fn
         :exec-args {}}}}
